@tailwind base;
@tailwind components;
@tailwind utilities;


@import './layout-out-general.css';


html {
    --primary: #FFAE0C;
    --secondary: #4A75D1;

    --slate-lighter: #EDF1FA;
    --slate-light: #9CA6BE;
    --slate: #606F94;
    --slate-dark: #384156;
    --slate-darker: #1E2633;

    --gray-light: #f4f4f4;
    --gray: #d4d4d4;
    --gray-dark: #828282;

    --white: #ffffff;
    --black: #212236;

    --red: #D14A4A;
    --green: #618D3A;

    --info-bar: #CFEAEC;
    --athens: #f5f6f8;
    --cadet-blue: #9CA6BE;
    --mp-background: #212235;
    --mp-play-progress: #9ea6bc;
    --mp-duration: #5376cb;
    --mp-load-progress: #d9dde7;
    --mp-text: #9ea6bc;

}

html,
body {
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #1E2633;
}

a,
button {
    cursor: pointer;
}

@screen sm {

    html,
    body {
        font-size: 14px;
    }
}

@screen md {

    html,
    body {
        font-size: 15px;
    }
}

@screen lg {

    html,
    body {
        font-size: 16px;
    }
}

button:focus,
a:focus,
input:focus {
    outline: none !important;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-21by9 {
    padding-bottom: 42.85714%;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
    padding-bottom: 75%;
}

.embed-responsive-1by1 {
    padding-bottom: 100%;
}

.main-content p,
.main-content ul,
.main-content ol {
    @apply font-light text-base font-serif leading-7 tracking-wide py-4;
}

.main-content a {
    @apply text-ac-secondary underline
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    @apply font-sans py-4;
}

.main-content h1 {
    @apply font-medium text-2xl leading-tight font-medium mt-8;
}

.main-content h2 {
    @apply font-medium text-3xl leading-normal font-semibold mt-8;
}


.staggered-boxes .box {
    break-inside: avoid;
}

.staggered-boxes-2col {
    columns: 1;
    column-gap: 1rem;
}

.staggered-boxes-items {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

@screen sm {
    .staggered-boxes-2col {
        columns: 2;
        column-gap: 1rem;
    }

}

@screen md {

    .main-content p,
    .main-content div,
    .main-content ul,
    .main-content ol {
        @apply text-lg leading-8;
    }

    .main-content h1 {
        @apply text-2-1/2-xl;
    }

    .main-content h2 {
        @apply text-3-1/2-xl;
    }

    .staggered-boxes {
        columns: 4;
        column-gap: 1rem;
    }



}

@screen hd {
    .staggered-boxes {
        columns: 4;
        column-gap: 2rem;
    }

}

.standard-max-w {
    @apply max-w-laptop m-auto;
}

.standard-max-w-px {
    @apply max-w-laptop m-auto px-4;
}