.mp--bottom {
    padding-bottom: 65px;

}

@media (min-width: 640px) {
    .mp--bottom {
        padding-bottom: 0px
    }
}


.mp--container {
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
}

.mp--title-scrolling-animation {
    animation: scrolling-title 15s linear infinite;
}

.mp--title-scrolling {

    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 20px;
    /* Starting position */
    transform: translateX(0%);


}

@keyframes scrolling-title {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
}

.mp--video {
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.mp--video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.mp--progress {
    width: calc(100% - 24px);
    height: 8px;
    background-color: var(--mp-background);

    /*     border: solid 1px var(--cadet-blue); */
}

.mp--progress::-webkit-progress-bar {
    /*  height: 8px; */
    border: solid 1px #606F94;
    border-radius: 5px;
    background-color: var(--mp-background);

    /*     border: solid 1px var(--cadet-blue); */
}

/*  progress */
.mp--progress::-moz-progress-bar {
    /*     height: 8px; */
    border: solid 1px #606F94;
    ;
    border-radius: 5px;
    background-color: var(--mp-background);
}

.mp--progress::-webkit-progress-value {
    /*     height: 8px; */
    /* border: solid 1px var(--cadet-blue); */
    border-radius: 5px;
    background-color: #606F94;

    /*     border: solid 1px var(--cadet-blue); */
}

.mp--seekbar {
    position: relative;
    z-index: 5;
}

.mp--seekbar::-webkit-slider-runnable-track {
    background-color: transparent !important;
}

.mp--seekbar::-moz-range-track {
    background-color: transparent !important;
}

.mp--seekbar::-ms-track {
    background-color: transparent !important;
}


.mp--volume-seekbar {
    max-width: 100px;
    position: relative;
    z-index: 5;
}

.mp--volume-seekbar::-webkit-slider-runnable-track {
    background-color: transparent !important;
}

.mp--volume-seekbar::-moz-range-track {
    background-color: transparent !important;
}

.mp--volume-seekbar::-ms-track {
    background-color: transparent !important;
}

.mp--seekbar::-webkit-slider-runnable-track {
    background-image: linear-gradient(var(--secondary), var(--secondary));
    border-radius: 5px;
    background-size: inherit;
    background-repeat: no-repeat;
}


.mp--volume-seekbar::-webkit-slider-runnable-track {
    background-image: linear-gradient(#606F94, #606F94);
    border-radius: 5px;
    background-size: inherit;
    background-repeat: no-repeat;

    border-radius: 5px;
    background-color: var(--mp-background);
}



input[type="range"] {
    width: 100%;
    height: 16px;
    padding: 0 12px;
    margin: 0;
    background-color: transparent;
}

input[type="range"]:not(*:root) {
    overflow: hidden;
}

input[type="range"]:not(*:root),
input[type="range"]:not(*:root) /deep/ *,
input[type="range"]:not(*:root)::before,
input[type="range"]:not(*:root) /deep/ *::before,
input[type="range"]:not(*:root)::after,
input[type="range"]:not(*:root) /deep/ *::after {
    box-sizing: border-box;
}

@supports (-moz-appearance:meterbar) {
    /* overflow: hidden; */

    input[type="range"],
    input[type="range"] /deep/ *,
    input[type="range"]::before,
    input[type="range"] /deep/ *::before,
    input[type="range"]::after,
    input[type="range"] /deep/ *::after {
        box-sizing: border-box;
    }
}

_:-ms-input-placeholder,
:root {
    overflow: hidden;
}

_:-ms-input-placeholder,
:root,
_:-ms-input-placeholder /deep/ *,
:root /deep/ *,
_:-ms-input-placeholder::before,
:root ::before,
_:-ms-input-placeholder /deep/ *::before,
:root /deep/ *::before,
_:-ms-input-placeholder::after,
:root ::after,
_:-ms-input-placeholder /deep/ *::after,
:root /deep/ *::after {
    box-sizing: border-box;
}

input[type="range"]:not(*:root) {
    font-size: 1em;
}

@supports (-moz-appearance:meterbar) {
    /*  font-size: 1em; */
}

_:-ms-input-placeholder,
:root {
    font-size: 1em;
}

input[type="range"]:not(*:root) {
    -webkit-appearance: none;
}

input[type="range"]:not(*:root):focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    z-index: -1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: -1;
}

input[type="range"]::-webkit-slider-thumb::before {
    content: "";
    transform: translateX(-100%);
    display: block;
    z-index: -1;
}

input[type="range"]::-moz-range-track {
    z-index: -1;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-ms-track {
    border: none;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:active::-moz-range-thumb {
    transform: scale(1);
}

input[type="range"]:hover::-ms-thumb,
input[type="range"]:active::-ms-thumb {
    transform: scale(1);
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border: 0;
    cursor: pointer;
    background-color: #373d3f;
}

input[type="range"]::-webkit-slider-runnable-track:active {
    cursor: grabbing;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #373d3f;
}

input[type="range"]::-moz-range-track:active {
    cursor: grabbing;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #373d3f;
}

input[type="range"]::-ms-track:active {
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-container {
    background-size: inherit;
}

input[type="range"]::-webkit-slider-thumb::before {
    background-color: var(--secondary);
}

input[type="range"]::-moz-range-progress {
    background-color: var(--secondary);
}

input[type="range"]::-ms-fill-lower {
    background-color: var(--secondary);
}

input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border: 0;
    border-radius: 50%;
    background-color: #F5F6F8;
    ;
    cursor: grab;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 150ms ease-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    cursor: grabbing;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border: 0;
    border-radius: 50%;
    background-color: #F5F6F8;
    ;
    cursor: grab;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 150ms ease-out;
}

input[type="range"]::-moz-range-thumb:active {
    cursor: grabbing;
}

input[type="range"]::-ms-thumb {
    height: 16px;
    width: 16px;
    border: 0;
    border-radius: 50%;
    background-color: #F5F6F8;
    cursor: grab;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 150ms ease-out;
}

input[type="range"]::-ms-thumb:active {
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    top: -4px;
}