.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #cbd5e0;
}

.separator::before {
    margin-right: 1em;
}

.separator::after {
    margin-left: 1em;
}